body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-logo{
  width: 150px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Example of rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Example of shadow */
  transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
}

.App-logo:hover {
  transform: scale(1.1); /* Zoom effect on hover */
}
